@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.logo {
	animation: logo-spin infinite 20s linear;
	height: 5vmin;
	pointer-events: none;
}

.header {
	min-height: 10vh;
	padding: 0 10px 0 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	gap: 10px;

	font-size: calc(10px + 2vmin);
	font-family: sans-serif;
	font-style: italic;
	font-weight: bolder;

	background-color: #282c34;
	color: white;
}

.main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	gap: 5px;

	background-color: #131418;
	color: white;
}

.link {
	color: #b318f0;
}