#bar {
	margin: 0px 10px;
	padding: 10px;

	min-height: 10vh;
	display: grid;
	grid-template-columns: auto 40px;

	align-items: center;

	position: sticky;
	bottom: 0px;

	border-radius: 12px 12px 0 0;

	background-color: #6273b4;
	color: white;
}

#items {
	display: flex;
	flex-direction: row;
	gap: 5px;

	overflow: scroll;
}

#newitem {
	height: 40px;
}