.item {
	min-width: 60px;
	min-height: 60px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgb(186, 131, 236);
	border-radius: 8px;
	overflow: hidden;
}

.item:hover {
	cursor: grab;
}

.item:active {
	cursor: grabbing;
}