.row {
	min-height: 10vh;
	padding: 5px;

	display: flex;
	flex-direction: row;
	gap: 5px;

	border: 1px solid gray;
	border-radius: 8px;

	overflow: hidden;
}

.nameBox {
	width: 10%;

	display: grid;
	grid-template-columns: auto auto;

	border-radius: 8px;
	background-color: red;
}

.buttonDrag {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: large;
	font-weight: 900;
}

.name {
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemList {
	padding: 5px;

	display: flex;
	flex-direction: row;
	gap: 5px;
}

input, textarea {
	width: 40px;
	background: none;
	border: none;
	padding: 0;

	font-size: large;
	font-weight: 900;

	color: white;
}